@model PaginatedList<SourceCode.Models.LecturerTbl>;

@{
    ViewData["Title"] = "Lecturers";
}

<div class="grid-SEES col-md-9">
    <form asp-action="Index" method="get">
        <div class="form-actions no-color">
            <p>
                Find By Name or Email <input type="text" name="SearchString" class="search-box" value="@ViewData["CurrentFilter"]" /> &emsp;
                <input type="submit" value="Search" class="btn btn-primary" /> &emsp;
                <a asp-action="Index" class="btn btn-primary">Full List</a>
            </p>
        </div>
    </form>
    <div>
        <table class="table-SEES">
            <tr>
                <th><a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]" 
                asp-route-currentFilter="@ViewData["CurrentFilter"]">Name</a></th>
                <th>Email</th>
                <th><a asp-action="Index" asp-route-sortOrder="@ViewData["RoleSortParm"]" 
                asp-route-currentFilter="@ViewData["CurrentFilter"]">Role</a></th>
            </tr>
            @foreach (var lecturer in Model)
            {
                <tr>
                    <td>@lecturer.Name</td>
                    <td>@lecturer.Email</td>
                    <td>@lecturer.Role</td>
                </tr>
            }
        </table>
    </div>
    @{
        //paging variables for arrows
        var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
        var nextDisabled = !Model.HasNextPage ? "disabled" : "";
    }

    <div class="paging-btn-SEES">
        <a asp-action="Index"
            asp-route-sortOrder="@ViewData["CurrentSort"]"
            asp-route-pageNumber="@(Model.PageIndex - 1)"
            asp-route-currentFilter="@ViewData["CurrentFilter"]"
            class="btn btn-primary @prevDisabled">Previous
        </a> &emsp;

        <a asp-action="Index"
            asp-route-sortOrder="@ViewData["CurrentSort"]"
            asp-route-pageNumber="@(Model.PageIndex + 1)"
            asp-route-currentFilter="@ViewData["CurrentFilter"]"
            class="btn btn-primary @nextDisabled">Next
        </a>
    </div>
</div>
