@model IEnumerable<SourceCode.Models.EventTbl>;

@{
    ViewData["Title"] = "Events";
}

<div class="grid-SEES col-md-9">
    @if(!User.IsInRole("Student")){
        <div>
            <a asp-action="AddOrEditEvent" class="btn btn-primary">Event +</a>
        </div>
    }
    <table class="table-SEES">
        <tr>
            <th>Title</th>
            <th>Type</th>
            <th>Release Date</th>
            <th></th>
        </tr>
        @foreach (var ev in Model)
        {
            <tr>
                <td>@ev.Title</td>
                <td>@ev.Type</td>
                <td>@ev.ReleaseDate</td>
                <td>
                    @Html.ActionLink("Edit Event", "AddOrEditEvent", new { id = ev.Id }, new {@class = "btn btn-primary"})
                    &emsp;
                    @Html.ActionLink("Delete Event", "DeleteEvent", new { id = ev.Id }, new {@class = "btn btn-primary"})
                </td>
            </tr>
        }
    </table>
</div>
